<h1>Add a student:</h1>

<form action="/students/create" method="post">
  <label for="name">Student's name:</label>
  <input id="name" name="name" type="text">

  <label for="date">Date of enrollment</label>
  <input id="date" name="date" type="date">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/students">View all students</a></p>
