<h1>Welcome to Epicodud University</h1>
<br>
<h4>This software will allow you to keep track of all of your students nad courses!</h4>
<hr/>
<h3><a href="/courses">View Current Cources</a></h3>
<h3><a href="/students">View Students</a></h3>
